# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db

# Environments
.env
.venv/
venv/
env/

# FastAPI / logs
*.log
*.err
backend/uploads/

# SQLite dev database
backend/enactspace_dev.db

# Real member imports
data/import/*.csv
!data/import/membres_enactus_template.csv

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Flutter later
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
